
  

  
   
  <div class="backImage ">
      <div class="app-navbar"></div>
      <h4 id="discreption">
          <h2>Get ready to hit the dance floor!<br></h2>
          Our mission is to provide a quality dance education <br>
          in a safe friendly environment,where we <br>
           teach more than dance technique, we enrich each<br>
            dancer by teaching respect, dedication,<br>
          discipline, self-confidence and a love for the art <br>
          of dance. We invite dancers of all<br>
          ages and skill levels to join our dance family<br>
          as we build confidence and dance for Joy.<br>
         <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br><br><br><br><br>
          
      </h4>
  </div>
    
  <div class="app-ctgry"></div>



