


discreption{
    font-style: italic;
    color: aliceblue;
    font-size: 25px;
    float:left;
    
}
.backImage{
    background-image: url("assets/4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
